{% extends 'base.html' %}
{% load static %}
{% load utils %}

{% block title %}
<title>Book a Show</title>
<link rel="stylesheet" href="{% static 'css/seat_selection2.css' %}">
<style>
  .results{ font-family:'Lato', sans-serif; }
  .norounds{ border-radius:0px; }
  .modal-content{ background-color:black; color:white; }
  .datebox{ background:#000814; color:white; border-color:grey; }
</style>
{% endblock title %}

{% block content %}
<div class="container" id="movie-content">

  <h2 class="text-primary">Select Showtime</h2>

  <form method="get" id="dateform">
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label text-secondary">Select Date</label>
      <div class="col-sm-4">
        <input type="date" name="date" id="selectdate" class="form-control datebox"
          value="{% if date %}{{ date }}{% else %}{{ '%Y-%m-%d'|cdateadd:'1' }}{% endif %}">
      </div>
    </div>
  </form>

  {% if films %}
    {% for key, value in films.items %}
      <div class="row p-3 mb-3" style="background:#000813;border-radius:8px;">
        <div class="col-md-2">
          <img src="{{ value|get:'url' }}" class="img-fluid rounded">
        </div>
        <div class="col-md-10">
          <h4 style="color:#ffd60a;">{{ key }}</h4>

          {% for showid,time in value|get:'showtimes'|items %}
            <button type="button"
                class="btn btn-success showtimebtn m-2"
                data-showid="{{ showid }}"
                data-price="{{ value|get:'price' }}"
                data-time="{{ time|tformat:'%I:%M %p' }}">
              Book<br>
              <small>{{ time|tformat:'%I:%M %p' }} | ${{ value|get:'price' }}</small>
            </button>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  {% endif %}

</div>

<!-- Seat Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Select Seats</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <div class="screen mb-3"></div>

        {% for row in "ABCD" %}
        <div class="d-flex align-items-center mb-2">
          <div class="me-3 text-warning fw-bold">{{ row }}</div>
          {% for i in "123456789"|make_list %}
            {% for n in "1234567890"|make_list %}
              {% with seat=row|stringformat:"s"|add:i|add:n %}
              <div class="seat" sno="{{ seat }}"></div>
              {% endwith %}
            {% endfor %}
          {% endfor %}
        </div>
        {% endfor %}
      </div>

      <div class="modal-footer">

        <form method="post" action="{% url 'checkout' %}" id="target_form">
          {% csrf_token %}
          <input type="hidden" name="showdate" id="show_date" value="{{ date }}">
          <input type="hidden" name="seats" id="seats_input">
          <input type="hidden" name="showid" id="show_id">
        </form>

        <button class="btn btn-success" id="book-btn" disabled>Confirm & Book</button>
        <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>

      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block js %}
<script>
$(function(){

  $("#selectdate").change(()=>$("#dateform").submit());

  $(".showtimebtn").click(function(){
    let sid = $(this).data("showid");
    $("#show_id").val(sid);
    $(".seat").removeClass("selected occupied");

    $("#exampleModalCenter").modal("show");

    $.get("{% url 'bookedseats' %}", {
      show_id: sid,
      show_date: $("#show_date").val()
    }, function(data){
      if(data){
        data.split(',').forEach(s=>{
          $(".seat[sno='"+s+"']").addClass("occupied");
        });
      }
    });
  });

  $(".seat").click(function(){
    if(!$(this).hasClass("occupied")){
      $(this).toggleClass("selected");
      let seats = $(".seat.selected").map(function(){
        return $(this).attr("sno");
      }).get();
      $("#seats_input").val(seats.join(","));
      $("#book-btn").prop("disabled", seats.length===0);
    }
  });

  $("#book-btn").click(function(){
    $("#target_form").submit();
  });

});
</script>
{% endblock %}
